.skill {

background-color: rgba(1, 9, 28, 0.75);
border-radius: 10px;
margin: 80px;
filter: drop-shadow(0px 4px 4px rgba(0.0, 0.25, 0.25) );
}
.skill img {
    height: 140px;
    padding: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0.0, 0.25, 0.25) );
    
}
.skill h1 {
    font-size: 45px;
}
.skill p {

font-size: 20px;
}

.js:hover  {
    transition-duration: 0.5s;
    transform: translateY(-7px);
    cursor: pointer;
}
.ht:hover {
    transition-duration: 0.5s;
    transform: translateY(-7px);   
    cursor: pointer;
}
.cs:hover {
    transition-duration: 0.5s;
    transform: translateY(-7px);   
    cursor: pointer;
}
.rea:hover {

    transition-duration: 0.5s;
    transform: translateY(-7px);   
    cursor: pointer;
}
